html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 10px 30px;
}

header h1 {
    display: inline-block;
    margin-right: 10px;
}

header nav {
    display: inline-block;
}

header nav a {
    padding: 0 10px;
    color: rgb(22, 184, 22);
    text-decoration: none;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

main p {
    font-size: 12px;
}