<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/static/styles/style.css' />
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <header class='header'>
            <nav class='header-nav'>
                <a class='header-link' href='/'>
                    <div class='header-logo-container'>
                        <img class='header-logo-img' src='/static/assets/Logo.png' alt='logo-img' />
                        <h1 class='header-logo-title'>
                            Gamepedia
                        </h1>
                    </div>
                </a>
                <ul class='header-list' role='list'>
                    <li class='header-item'>
                        <a href='/'>
                            Home
                        </a>
                    </li>
                    <li class='header-item'>
                        <a href='/platforms'>
                            Platforms
                        </a>
                    </li>
                    <li class='header-item'>
                        <a href='/games'>
                            Games
                        </a>
                    </li>
                    <li class='header-item'>
                        <a href='#'>
                            Login
                        </a>
                    </li>
                    <li class='header-item'>
                        <a href='#'>
                            Register
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class='footer'>
            <p class='footer-rights'>
                Veselin Yordanov &copy; 2022
            </p>
        </footer>
    </body>
</html>