<div class='games-card'>
    <h2 class='games-name'>
        <a href='/games/{{id}}'>
            {{name}}
        </a>
    </h2>
    <a href='/games/{{id}}'>
        <img src='{{background_image}}' alt='games-img' class='games-img' />
    </a>
</div>