<div class='platform-card'>
    <h2 class='platform-title'>
        <a href='/platforms/{{id}}'>
            {{name}}
        </a>
    </h2>
    <a href='/platforms/{{id}}'>
        <img src='{{image_background}}' alt='platform-img' class='platform-img' />
    </a>
</div>