<div class='topGames-card'>
    <h2 class='topGames-name'>
        <a href='/games/{{id}}'>
            {{name}}
        </a>
    </h2>
    <a href='/games/{{id}}'>
        <img src='{{background_image}}' alt='topGames-img' class='topGames-img' />
    </a>
</div>