@import './reset.css';
@import './header.css';
@import './platform.css';
@import './games.css';
@import './footer.css';
@import './not-found.css';

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    width: 75%;
    margin: auto;
    background-color: #fff;
}
