@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 1400px;
    margin: 50px auto;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.green-text {
    color: #a4c539;
}

.subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service {
    background-color: #f7f7f7;
}

.service-img {
    width: 100%;
}

.service-title {
    padding-left: 30px;
    font-size: 24px;
}

.service-info {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    font-size: 18px;
    color: #616161;
    margin-bottom: 20px;
}

.service-btn {
    margin-left: 30px;
    padding: 20px 50px;
    border: none;
    color: #fff;
    background-color: #a4c539;
    border-radius: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 18px;
}
