body {
    margin: 0;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;

    display: flex;
    flex-wrap: wrap;
}

header {
    flex-basis: 100%;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    margin-top: auto;
    width: 100%;
}