body {
    margin: 0;
    background-color: rgb(238, 238, 238);
}

.page {
    padding: 20px 50px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
}

.page>header {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.page header>h1 {
    font-family: Georgia, serif;
    font-size: 25px;
}

main {
    display: flex;
    gap: 50px;
}

main>article {
    width: 70%;
}

main article header img {
    float: right;
    border: 2px solid black;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

main article section img {
    float: left;
    border: 2px solid black;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blockquote {
    display: flex;
}


.blockquote p {
    flex: 1 1 60%;
}


.blockquote blockquote {
    flex: 1 1 40%;
    font-style: italic;
    border-left: 2px solid lightgray;
    padding-left: 20px;
    font-family: Georgia, serif;
}


aside a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

img {
    background-color: rgb(255, 255, 255);
}