<section>
    <h1 class="platforms-heading">
        Gaming Platforms
    </h1>
    <div class='platforms-container'>
        {{#each platforms}}
            {{> platform-card}}
        {{/each}}
    </div>
</section>